/*
TIPOGRAFIA:
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;

CORES:
VERDE ESCURO: #065902
VERDE CLARO: #078C31
AMARELO: #F2B705
VERMELHO CLARO: #F03733
VERMELHO ESCURO: #D90404

Cinza escuro: #404040
*/

* {
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #D90404;
}

h4, h5, h6 {
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #F2B705;
}

h1 {
    font-size: 600%;
    font-weight: 200;
}

h2 {
    font-size: 400%;
    font-weight: 200;
}

p, li, a {
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque {
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

/*-------------------/*
/*ELEMENTOS DO HEADER/*
/*-------------------*/

header div#chamada h1 {
    color: white;
    text-shadow: 4px 6px 8px #000;
}

header div#chamada h4 {
    font-size: 250%;
    margin-top: 10px;
    text-shadow: 4px 6px 8px #000;
    margin-bottom: 50px;
}

header div#chamada a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 110%;
    padding: 20px 80px;
    border-radius: 100px;
    background-color: #078c31;
    background: linear-gradient(rgba(13, 130, 3)10%,rgb(7, 76, 3)100%);
}

h4 {
    font-size: 150%;
    font-weight: 150px;
    padding: 20px 0;
}

/*-----------------------/*
/* SEÇÃO DOMINGO PERFEITO /*
/*-----------------------*/

div#domingo-perfeito-centro h2::after {
    display: block;
    color: #078C31;
    height: 5px;
    width: 20%;
    margin: 10px auto 20px;
    content: "---";
}

div.pontos-chave h4 {
    color: #404040;
}

div.pontos-chave h4:after {
    display: block;
    color: #078C31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: "--";
}

/*----------------------*/
/*   SEÇÃO - PIZZA      */
/*----------------------*/

section#pizza p.destaque {
    margin-top: 30px;
    color: white;
    width: 40%;
}

section#pizza ul li {
    color: white;
    text-decoration: none;
    list-style: none;
    line-height: 1.9;
    font-size: 90%;
    text-transform: uppercase;
}

/*--------------------/*
/* SEÇÃO - DEPOIMENTOS/*
/*-------------------*/

section#testemunha p.destaque {
    margin-top: 30px;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.775);
    border-radius: 80px;
}

/*----------------------*/
/*     PLANOS           */
/*----------------------*/

section#plano-principal h4 {
    color: #D90404;
}

section#plano-principal div.planos-top ul {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
}

section#plano-principal div.planos-top ul li {
    line-height: 2;
    font-size: 90%;
}

section#plano-principal div.planos-bottom p {
    color: white;
    margin-top: 35px;
    font-weight: 600;
    text-transform: uppercase;
}

/*----------------------*/
/*     FOOTER           */
/*----------------------*/

footer div#info h4 {
    text-align: left;
    margin-left: 20px;
}

footer div#info ul {
    text-align: left;
    margin-left: 20px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 130px;
}

footer div#info ul li {
    line-height: 1.5;
    color: white;
}


